{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="offers">
    <h1>Search: "{{ search }}"</h1>
    {% if object_list %}
    {% for product in object_list %}
    <div class="product">
        {% if product.photo_set.get.photo.url %}
        <img src="/{{ product.photo_set.get.photo.url }}" alt="{{ product.name }}_photo">
        {% else %}
        <img src="/static/images/noImage.png" alt="no_image">
        {% endif %}
        <div class="text-of-product">
            <h2>{{ product.name }}</h2>
            <p>{{ product.article }}</p>
            <h2>{{ product.price }} $</h2>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No product on our site. Sorry!</h2>
    {% endif %}
</div>
{% endblock content %}